body {
  margin: 45px;
}

header {
  margin: 15px;
}

h1 {
  font-family: 'Special Elite', cursive;
  /* font-family: 'Anton', sans-serif; */
  font-size: -webkit-xxx-large;
}

.message {
  margin: 15px;
}
.topic_form {
  padding-top: 10px;
}

.ui.raised.segment {
  margin-left: 75px;
  margin-right: 75px;
}
